@font-face {
  font-family: 'Tovari Sans';
  src: url('/src/assets/fonts/TovariSans.ttf');
}

#front-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    position: absolute;
    width: 50%;
    align-self: flex-start;
    margin-top: 10%;
  }
  h1 {
    color: black;
    border-radius: 20px;
    background-color: white;
    z-index: 5;
    font-size: 80px;
    padding: 0px 10px;
    font-family: 'Tovari Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}